<nav class="w-screen bg-gray-100 shadow-lg">
  <section class="max-w-6xl mx-auto flex flex-col sm:flex-row p-4 items-center justify-between">
    <div>
      <h1 class="font-semibold text-2xl">Todo App</h1>
    </div>
    <div class="flex flex-col sm:flex-row gap-3 items-center text-blue-500 text-lg">
      <a href="/login">Login</a>
      <a href="/register">Sign Up</a>
    </div>
  </section>
</nav>